<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Hello baby</h2>
    <h3 class="text-capitalize">bye bye baby</h3>
    <hr />
    <div class="display-1">Hello world</div>
    <div class="display-2 text-muted"> Hello baby</div>
    <div class="display-3">bye bye baby</div>

    <hr />

    <div class="text-muted text-end">
        Additional text
    </div>

    <hr />

    <a href="#" class="btn btn-success">
        Button primary
    </a>

    <hr />

    <p class="">My text</p>
    <p class="text-dark">My text</p>
    <p class="text-muted">My text</p>

    <hr />

    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-lg">Add</button>
            <button class="btn btn-outline-secondary">Edit</button>
            <button class="btn btn-outline-danger btn-sm">Delete</button>
        </div>
    </div>

    <br>
    <br>
    <br>

</main>