{{!-- <p>Тут ми створюємо карточку з інф та картинкою, як на розетці</p> --}}
<main>
  <div class="card">
    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
    <div class="card-body">
      <h5 class="card-title">Product #49394834</h5>
      <p>USB xab type</p>
      <a href="/mac" class="btn btn-primary">Open</a>
    </div>
  </div>

  <br>
  <br>
  <br>
  {{!-- <p>Створюємо список: виглядатиме як карточка з списком усередині якого ще один список</p> --}}

  <ul class="list-group">
    <li class="list-group-item">
      <ul class="list-group">
        <li class="list-group-item">Item 1.1</li>
        <li class="list-group-item">Item 1.2</li>
      </ul>
    </li>
    <li class="list-group-item">Item2</li>
    <li class="list-group-item">Item3</li>
  </ul>

  {{!-- <p>Можемо створити меню для сайта</p> --}}
  <br>
  <br>
  <h5>Menu</h5>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="#" class="btn btn-link">Home page</a>
    </li>
    <li class="list-group-item">
      <a href="#" class="btn btn-link">Summary page</a>
    </li>
    <li class="list-group-item">
      <a href="#" class="btn btn-link">Home page</a>
    </li>
  </ul>

</main>