{{#with main}}
<main>
  <section>
    {{> title data="My Education" big=true}}
    <ul class="ps-3">
      {{#each education}}
      <li>{{name}}
        {{#if isEnd}} {{/if}}

        {{#unless isEnd}} (ще в процесі) {{/unless}}
      </li>
      {{/each}}
    </ul>
  </section>
  <section>
    {{> title data="My certificates"}}
    {{#each certificates}}
    <ul class="ps-3">
      <li>
        {{name}} ({{id}})</li>
      </li>
    </ul>
    {{/each}}
  </section>
</main>
{{/with}}



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}