<main>
	<div class="row">
		{{#with main}}
		<section class="mb-5">
			<div class="text-center">
				{{>title data=summary.title}}
			</div>

			<div class="text-center">{{summary.text}}</div>

		</section>

		<section>
			{{#with experience}}
			<div class="text-center">
				{{> title data=title}}
			</div>
			<div>
				<p>
					{{text}}
				</p>
			</div>
			{{/with}}
		</section>
		{{/with}}
	</div>
</main>